<%- include('partials/header'); -%>

<form>
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error">Demo User : mario@gmail.com</div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error">Password : 123456</div>
    <button>Login</button>
</form>

<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')

    form.addEventListener('submit', async (e) => {
        // Todo : Prevent default refresh action on form submit
        e.preventDefault();

        // Reset Errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password}), // shorthand for email:email and password:password
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json();
            if (data.errors) {
                // If empty then we do not show any kind of string
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/');
            }
        } catch(err) {
            console.log(err);
        }
    })
</script>


<%- include('partials/footer'); -%>